/* Style the button that triggers the pop-up form */
button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Style the pop-up form */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 500px;
    padding: 20px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password],
.form-container input[type=email],
.form-container input[type=tel],
.form-container select[name=user_type],
.form-container input[type=file] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: none;
    background: #f1f1f1;
    border-radius: 3px;
}

/* Set a style for the submit button */
.form-container button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    float: right;
}

/* Set a style for the close button */
.form-container .cancel {

    /* Add some margin to the close button */
    margin-left: 10px;
}

/* Add a red background color to the cancel button on hover */
.form-container .cancel:hover {
    background-color: red;
}

/* Add some styles for the avatar file input */
.form-container input[type=file] {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}

/* Add some styles for the user type select input */
.form-container select[name=user_type] {
    margin-bottom: 15px;
}

/* Clear floats after the form */
.form-container::after {
    content: "";
    clear: both;
    display: table;
}

/* Add some styles for the form header */
.form-container h2 {
    margin: 0;
    margin-bottom: 15px;
    font-size: 20px;
}

/* Add some styles for the form input labels */
.form-container label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}